.car-list-container {
    margin: 0 auto;
    width: 50vw;
}

.car-list-container ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.car-list-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80px;
}

.car-list-controls__add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.car-list-controls__filter > :first-child {
    margin-right: 20px;
}